/* rgb(255,153,0)  #f90*/

* {
    font-family: PingFangSC-Regular, Helvetica, Arial, "Microsoft Yahei", sans-serif;
}

html,
body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #fff;
}

i {
    display: block;
}

#app {
    width: 100%;
    height: 100%;
    background-color: #141414;
    line-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 400px;
    margin: 0 auto;
}

.header {
    background-color: #1e1e1e;
    height: 48px;
    width: 100%;
    position: relative;
    z-index: 100;
    position: sticky;
    top: 0;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 0;
}

.asideBtn {
    width: 55px;
    height: 47px;
    background-color: #1e1e1e;
    border-right: 1px solid #111;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center
}

.asideBtn .icon {
    margin: 0 auto;
    background-image: url(../img/sprite-common.png);
    background-repeat: no-repeat;
    background-size: 303px 287px;
    width: 32px;
    height: 21px;
    background-position: -160px -24px;
}

.logoDiv {
    height: 48px;
    width: 1200px;
    /*超出宽度也无所谓，自动居中*/
    display: table-cell;
    vertical-align: middle;
}

.logo {
    margin: 0 auto;
    width: 128px;
    height: 37px;
    display: block;
}

.nav {
    color: #ccc;
    font-size: .14px;
    font-weight: 700;
    text-align: center;
    display: flex;
}

.navBtn {
    padding: 11px 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    /* height: 38px; */
    background-color: #000;
    border-left: 1px solid #262626;
    border-bottom: 1px solid #262626;
    color: #ccc;
    display: block;
    flex: auto;
}

.mainHeader {
    width: 100%;
    margin: 5px auto 0;
    position: relative;
    background: #1e1e1e;
    padding: 10 0 10 10px;
}

.mainHeader h1 {
    text-transform: uppercase;
    font-size: .8em;
}

i.flagIcon {
    background: url(../img/flag-cn.png) no-repeat;
    background-size: 25px 16px;
    width: 25px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    left: 5px;
}

.shadow {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
}

.dn {
    display: none !important;
}

.leftMenu {
    width: 270px;
    /* min-height: 100%; */
    z-index: 90;
    background-color: #111;
    border-top: 2px solid #000;
    position: absolute;
    top: 48px;
    left: -270px;
    transition: all .5s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

.leftMenuShow {
    left: 0px;
    height: auto;
    transition: all .5s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

.menuBtn,
.menuGap {
    width: 100%;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #111;
    color: #f90;
    display: block;
    padding: 9px 0 9px 17px;
    font-size: .9em;
    border-bottom: 2px solid #000;
}

.menuGap {
    height: 10px;
}

.userAction {
    display: flex;
    padding: 9 0px;
    height: auto;
}

.userBtn {
    font-size: 10px;
    border: 0;
    flex: auto;
    text-align: center;
    position: relative;
    padding-top: 7px;
}

.userBtn span {
    font-size: 10px;
    text-align: center;
    color: #999;
    margin-bottom: 10px;
    line-height: 1.4;
}

.userBtn i {
    background-image: url(../img/sprite-common@2x.png);
    background-repeat: no-repeat;
    background-size: 303px 287px;
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 5px;
    cursor: pointer;
}

.userBtn .login {
    background-position: -1px -49px;
}

.userBtn .signin {
    background-position: -91px -1px;
}

.userBtn .upload {
    background-position: -43px -49px;
}

.userBtn .logout {
    background-position: -1px -91px;
    background-color: #f90;
    border-radius: 50%;
}

.userBtn .message {
    background-position: -91px -43px;
}

.userBtn .news {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f00;
    position: absolute;
    top: 7px;
    right: 7px;
}

.userInfo span {
    font-size: 16px;
    vertical-align: middle;
    font-weight: 800;
}

.userInfo img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.userInfoAction {
    border-left: 4px #f90 solid;
    color: #ddd;
}

.menuBtn:nth-of-type(5) {
    border-left: 4px solid #1471d9
}

.alertDiv {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.alert {
    border-radius: 5px;
    border-color: #000;
    margin: auto;
    padding: 20px;
    z-index: 150;
    color: #f90;
    border: 2px solid #f90;
    background-color: #333;
}

.signinForm,
.loginForm,
.uploadForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.siginInput,
.loginInput {
    border: 1px solid #f90;
    padding: 7px 0;
    background: #f4f4f4;
    border-radius: 3px;
    padding-left: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin: 10 10 0 10px;
    flex: auto;
}

.signinBtn,
.loginBtn,
.uploadBtn {
    padding: 0 10px;
    margin: 10 10 0 10px;
    display: inline-block;
    line-height: 100px;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #f90;
    background-color: #f90;
    flex: auto;
}

.uploadBtn {
    position: relative;
}

#doUploadBtn {
    margin: 10px;
}

.fileBtn {
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.formError {
    color: #f00;
    padding-left: 10px;
    font-size: 14px;
}

.listHeader {
    display: block;
    margin-top: 20px;
}

.listContent {
    display: block;
    background-color: #000;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    position: relative;
}

.listContent img,
.listContent video {
    height: auto;
    width: auto;
    max-height: 240px;
}

.listContent.ful {
    height: 100%;
    max-width: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 101;
}

.listContent.ful img {
    width: 100%;
    height: auto;
    max-height: none;
}

.imgCover {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.listDes {
    max-height: 42px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    color: #f90;
    padding: 0px;
}

.tags {
    display: inline-block;
    overflow: hidden;
    text-align: left;
    color: #f90;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #f90;
    margin-right: 2px;
    font-size: 8px;
    line-height: 10px;
    height: 10px;
}

.main footer {
    margin: 10px;
}

.closeFull {
    background: url(../img/clear.png) no-repeat;
    width: 42px;
    height: 42px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 150;
}

.pages {
    background-color: #000;
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    display: flex;
}

.prev {
    display: block;
    width: 20%;
    height: 40px;
    line-height: 40px;
    flex: 1 1 20%;
    flex-direction: row;
}

.next {
    display: block;
    width: 20%;
    height: 40px;
    line-height: 40px;
    flex: 1 1 20%;
}

.btntxt {
    font-size: 14px;
    color: #666;
    background-color: #141414;
    text-align: center;
}

.num {
    display: block;
    width: 20%;
    height: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    flex: 1 1 60%;
}

.numList {
    margin: 0;
    white-space: nowrap;
    text-align: center;
    padding: 0;
    list-style: none;
}

.pageNum {
    display: inline-block;
    min-width: 40px;
    position: relative;
    vertical-align: middle;
    margin: 0 2px;
}

.pageNum span {
    position: relative;
    background: #2f2f2f;
    color: #acacac;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
    display: block;
    padding: 0 3px;
    height: 38px;
    border: 1px solid #3a3a3a;
    border-radius: 3px;
    font-size: .8em;
}

.pageNum.current span {
    color: #2f2f2f;
    background: #f90;
    border: 1px solid #f90;
}

.pageNum.dot span {
    background: #000;
}

.uploadImgDiv {
    text-align: center;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

#uploadImg {
    width: 100%;
    height: auto;
}