// @basecolor1 : #f90;
// @basecolor2 : #1471d9;

@basecolorWhite: #fff;
@basecolorBlack: #000;

// 莫兰迪色系2 浅 => 深

// 红色系
@basecolor15 : #b0adbe;
@basecolor12 : #e67d7d;
@basecolor6  : #985d76;

// 绿色系
@basecolor13 : #8bad9d;
@basecolor11 : #839d9b;
@basecolor14 : #4f7161;

// 蓝色系
@basecolor1 : #dbf0e7;
@basecolor2 : #c2e6d5;
@basecolor3 : #add7cd;

// 浅色系 偏黄色
@basecolor7 : #cec4b8;
@basecolor8 : #ece3da;
@basecolor9 : #eae9ee;

// 深色系 偏蓝色
@basecolor4  : #8697a7;
@basecolor16 : #7f838c;
@basecolor5  : #3e4055;
@basecolor10 : #403e49;

@basecolor-border   : @basecolor4;
@basecolor-border-2 : @basecolor6;

@btncolor      : @basecolor6;
@btncolor-hover: @basecolor6;

@logo-width  : auto;
@logo-height : 48px;

* {
    font-family: PingFangSC-Regular, Helvetica, Arial, "Microsoft Yahei", sans-serif;
}

html,
body {
    background: @basecolor4;
    padding   : 0;
    margin    : 0;
    width     : 100%;
    height    : 100%;
    overflow  : hidden;
    font-size : 62.5%;
}

button {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin : 0;
    padding: 0;
    color  : #fff;
}

i {
    display: block;
}