<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <link rel="stylesheet" href="../css/pornSchool.css">
    <title>PornSchool</title>
</head>

<body>
    <div id="app" @click="bodyClick">
        <header class='header'>
            <button class="asideBtn btn" type="button" @click="asideBtnClick">
                <i class="icon"></i>
            </button>
            <div class="logoDiv">
                <img src="../img/logo-60.png" alt="PornSchool" width="128" height="37" class="logo">
            </div>
        </header>
        <div class="shadow dn" @click="asideBtnClick"></div>
        <nav class='nav'>
            <div class="navBtn" v-for="info in navTypes" v-html="info.txt" @click="navBtnClick(info.id)"></div>
        </nav>
        <!--
            ==========================
            LESSON
            ==========================
        -->
        <main v-if="status.current.type === 'lesson'" class="main lesson">
            <header class="mainHeader">
                <h1>
                    当前课程：{{status.current.lessonText}}
                </h1>
            </header>
            <article>
                <section v-for="info in status.current.lessonList">
                    <header class="listHeader"></header>
                    <content class="listContent">
                        <div v-if="info.type=='gif' || info.type=='jpg'" class="imgCover" @click.stop="_openFull($event, info.type)"></div>
                        <img v-if="info.type=='gif' || info.type=='jpg'" :src="info.src" :alt="info.txt" @click.stop="showDetail(info)">
                        <video v-if="info.type=='video'" :src="info.src" controls></video>
                    </content>
                    <footer>
                        <span class="listDes" v-text="info.txt"></span>
                        <template v-if="info.tags.length > 0">
                            &nbsp;
                            <span  v-for="tag in info.tags" class="tags" v-text="tag"></span>
                        </template>
                    </footer>
                </section>
                <footer class="pages">
                    <div class="prev btntxt" @click.stop="gotopage(status.current.lessonIndex-1)">‹ Prev</div>
                    <div class="num">
                        <ul class="numList">
                            <template v-for="num in status.current.lessonPages">
                                <li v-if="num === '...'" class="pageNum dot">
                                    <span v-text="num"></span>
                                </li>
                                <li v-else :class="'pageNum '+(num==status.current.lessonIndex?'current':'')" @click.stop="gotopage(num)">
                                    <span v-text="num"></span>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="next btntxt" @click.stop="gotopage(status.current.lessonIndex+1)">Next ›</div>
                </footer>
            </article>
        </main>
        <!--
            ==========================
            HOT
            ==========================
        -->
        <main v-if="status.current.type === 'hot'" class="main">
            <header class="mainHeader">
                <h1>
                    {{status.current.mainHeaderText}}
                    <i class="flagIcon world"></i>
                </h1>
            </header>
            <article>
                <section v-for="info in status.current.list">
                    <header class="listHeader"></header>
                    <content class="listContent">
                        <div v-if="info.type=='gif' || info.type=='jpg'" class="imgCover" @click.stop="_openFull($event, info.type)"></div>
                        <img v-if="info.type=='gif' || info.type=='jpg'" :src="info.src" :alt="info.txt" @click.stop="showDetail(info)">
                        <video v-if="info.type=='video'" :src="info.src" controls></video>
                    </content>
                    <footer>
                        <span class="listDes" v-text="info.txt"></span>
                    </footer>
                </section>
                <footer class="pages">
                    <div class="prev btntxt" @click.stop="gotopage(status.current.index-1)">‹ Prev</div>
                    <div class="num">
                        <ul class="numList">
                            <template v-for="num in status.current.pages">
                                <li v-if="num === '...'" class="pageNum dot">
                                    <span v-text="num"></span>
                                </li>
                                <li v-else :class="'pageNum '+(num==status.current.index?'current':'')" @click.stop="gotopage(num)">
                                    <span v-text="num"></span>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="next btntxt" @click.stop="gotopage(status.current.index+1)">Next ›</div>
                </footer>
            </article>
        </main>
        <!--
            ==========================
            MINE
            ==========================
        -->
        <main v-if="status.current.type === 'mine'" class="main">
            <header class="mainHeader">
                <h1>
                    我的肉体
                </h1>
            </header>
            <article>
                <section v-for="info in status.current.mineList">
                    <header class="listHeader"></header>
                    <content class="listContent">
                        <div v-if="info.type=='img'" class="imgCover" @click.stop="_openFull($event, info.type)"></div>
                        <img v-if="info.type=='img'" :src="info.src" :alt="info.txt" @click.stop="showDetail(info)">
                        <video v-if="info.type=='video'" :src="info.src" controls></video>
                    </content>
                    <footer>
                        <span class="listDes" v-text="info.txt"></span>
                        <div class="mineBtns">
                            <button class="delete btn" @click.stop="deleteSelf(info.fileName)">&nbsp;</button>
                            <button class="share btn" @click.stop="shareSelf(info.fileName)">&nbsp;</button>
                        </div>
                    </footer>
                </section>
                <footer class="pages">
                    <div class="prev btntxt" @click.stop="gotopage(status.current.mineIndex-1)">‹ Prev</div>
                    <div class="num">
                        <ul class="numList">
                            <template v-for="num in status.current.minePages">
                                <li v-if="num === '...'" class="pageNum dot">
                                    <span v-text="num"></span>
                                </li>
                                <li v-else :class="'pageNum '+(num==status.current.mineIndex?'current':'')" @click.stop="gotopage(num)">
                                    <span v-text="num"></span>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="next btntxt" @click.stop="gotopage(status.current.mineIndex+1)">Next ›</div>
                </footer>
            </article>
        </main>
        <!--
            ==========================
            SIGNIN
            ==========================
        -->
        <main v-if="status.current.type === 'signin'" class="main singin">
            <header class="mainHeader">
                <h1>
                    注册用户
                </h1>
            </header>
            <section class="signinForm">
                <input class="siginInput" type="text" v-model="user.id" placeholder="请输入登录ID" id="s_i_i" @keyup="_checkID" @change="_checkID">
                <span id="error_id" class="formError dn"></span>
                <input class="siginInput" type="text" id="s_n_i" v-model="user.name" placeholder="请输入花名" @keyup="_checkEmpty('s_n_i', 's_n_e', 'name')" @change="_checkEmpty('s_n_i', 's_n_e', 'name')">
                <span id="s_n_e" class="formError dn">花名不能为空!</span>
                <input class="siginInput" type="password" id="s_p_i" v-model="user.pwd" placeholder="请输入密码" @keyup="_checkEmpty('s_p_i', 's_p_e', 'pwd')" @change="_checkEmpty('s_p_i', 's_p_e', 'pwd')">
                <span id="s_p_e" class="formError dn">密码不能为空!</span>
                <input class="siginInput" type="password" id="s_p_i_2" placeholder="确认密码" @keyup="_checkSame('s_p_i', 's_p_i_2', 's_p_e_2', 'pwd2')" @change="_checkSame('s_p_i', 's_p_i_2', 's_p_e_2', 'pwd2')">
                <span id="s_p_e_2" class="formError dn">两次密码输入不一致!</span>
                <input class="siginInput" type="email" id="userEmail" v-model="user.email" placeholder="请输入邮箱(非必填)">
                <input class="siginInput" type="text" id="userEcode" v-model="user.ecode" placeholder="请输入邀请码">
                <button class="signinBtn" @click="saveSignin">提交</button>
            </section>
        </main>
        <!--
            ==========================
            LOGIN
            ==========================
        -->
        <main v-if="status.current.type === 'login'" class="main login">
            <header class="mainHeader">
                <h1>
                    登录
                </h1>
            </header>
            <section class="loginForm">
                <input class="loginInput" type="text" v-model="user.id" placeholder="请输入登录ID" id="l_i_i" @keyup="_checkEmpty('l_i_i', 'l_i_e', 'id')" @change="_checkEmpty('l_i_i', 'l_i_e', 'id')">
                <span id="l_i_e" class="formError dn">登录ID不能为空</span>
                <input class="loginInput" type="password" id="l_p_i" v-model="user.pwd" placeholder="请输入密码" @keyup="_checkEmpty('l_p_i', 'l_p_e', 'pwd')" @change="_checkEmpty('l_p_i', 'l_p_e', 'pwd')">
                <span id="l_p_e" class="formError dn">密码不能为空!</span>
                <button class="loginBtn" @click="doLogin">登录</button>
            </section>
        </main>
        <!--
            ==========================
            CHANGE PASSWORD
            ==========================
        -->
        <main v-if="status.current.type === 'changepwd'" class="main login">
            <header class="mainHeader">
                <h1>
                    修改密码
                </h1>
            </header>
            <section class="loginForm">
                <input class="loginInput" id="c_i_i" type="text" v-model="user.id" placeholder="请输入原始密码" @keyup="_checkEmpty('c_i_i', 'c_i_e', 'id')" @change="_checkEmpty('c_i_i', 'c_i_e', 'id')">
                <span id="c_i_e" class="formError dn">原始密码不能为空！</span>
                <input class="loginInput" id="c_p_i" type="password" v-model="user.pwd" placeholder="请输入新密码" @keyup="_checkEmpty('c_p_i', 'c_p_e', 'id')" @change="_checkEmpty('c_i_i', 'c_i_e', 'pwd')">
                <span id="c_p_e" class="formError dn">密码不能为空!</span>
                <input class="loginInput" type="password" id="c_p_i_2" v-model="user.pwd" placeholder="请重复新密码" @keyup="_checkSame('c_p_i', 'c_p_i_2', 'c_p_e_2', 'pwd2')" @change="_checkSame('c_p_i', 'c_p_i_2', 'c_p_e_2', 'pwd2')">
                <span id="c_p_e_2" class="formError dn">两次密码输入不一致!</span>
                <button class="loginBtn" @click="doLogin">登录</button>
            </section>
        </main>
        <!--
            ==========================
            CHANGE PASSWORD
            ==========================
        -->
        <main v-if="status.current.type === 'userSort'" class="main login">
            <header class="mainHeader">
                <h1>
                    学员排名
                </h1>
            </header>
            <section class="userSortContent">
                <table class="user_table">
                    <tr class="user_head">
                        <td width="10%">No</td>
                        <td width="50%">学员ID</td>
                        <td width="40%">上传照片数量</td>
                    </tr>
                    <template v-for="(user, index) in userSort">
                        <tr :class="user.isTarget?'targetUser':''">
                            <td v-text="index+1" class="user_index"></td>
                            <td class="user_id">
                                {{user.id}}
                                <span v-if="index==0" class="user_no1"></span>
                            </td>
                            <td class="user_len">
                                {{user.length}}
                            </td>
                        </tr>
                    </template>
                </table>
            </section>
        </main>
        <!--
            ==========================
            UPLOAD
            ==========================
        -->
        <main v-if="status.current.type === 'upload'" class="main upload">
            <header class="mainHeader">
                <h1>
                    上传自拍
                </h1>
            </header>
            <section class="uploadForm">
                <div class="uploadImgDiv">
                    <img src="" alt="" id="uploadImg" class="dn">
                    <video src="" id="uploadVideo" class="dn" controls></video>
                </div>
                <div class="uploadBtn">
                    <!-- <input type="file" accept="image/png,image/jpeg,image/gif" id='u_f_f' class="fileBtn" @change="_choiceFile"> -->
                    <input type="file" id='u_f_f' class="fileBtn" @change="_choiceFile">
                    <span class="uploadBtnSpan">
                        选择上传文件
                    </span>
                </div>
                <!-- <input class="uploadBtn fileBtn" name="img" type="file">点击这里上传文件 -->
                <!-- <input class="uploadInput" id="u_p_i" type="text" v-model="user.id" placeholder="提取密码" @keyup="_checkUploadPwd('u_p_i','u_p_e')" @change="_checkUploadPwd('u_p_i','u_p_e')">
                <span id="u_p_e" class="formError dn"></span> -->
                <button id="doUploadBtn" class="uploadBtn dn" @click.stop="doUpload">上传</button>
            </section>
        </main>
        <!--
            ==========================
            LEFTMENU
            ==========================
        -->
        <aside class="leftMenu">
            <div v-if="!user.isLogin" class="menuBtn userAction">
                <div class="userBtn">
                    <i class="login" @click="login"></i>
                    <span>登录</span>
                </div>
                <div class="userBtn">
                    <i class="signin" @click="signin"></i>
                    <span>注册</span>
                </div>
                <div class="userBtn">
                    <i class="upload" @click="upload"></i>
                    <span>上传</span>
                </div>
            </div>
            <div v-if="user.isLogin" class="menuBtn userAction">
                <div class="userBtn">
                    <i class="logout" @click="logout"></i>
                    <span>登出</span>
                </div>
                <div class="userBtn">
                    <i class="message" @click="showMessage"></i>
                    <div class="news" v-if="message.length > 0"></div>
                    <span>信息</span>
                </div>
                <div class="userBtn">
                    <i class="upload" @click.stop="upload"></i>
                    <span>上传</span>
                </div>
            </div>
            <div v-if="user.isLogin" class="menuBtn userInfo">
                <img src="../img/male.png" alt="" width="43" height="43">
                <span v-text="user.name"></span>
            </div>
            <div v-if="user.isLogin" class="menuBtn userInfoAction" @click="setEmail">
                <span>设置通知邮箱</span>
            </div>
            <div v-if="user.isLogin" class="menuBtn userInfoAction" @click="setPwd">
                <span>修改密码</span>
            </div>
            <!-- <div v-if="user.isLogin" class="menuBtn userInfoAction" @click="checkUpload">
                <span>管理上传文件</span>
            </div> -->
            <div class="menuGap">
            </div>
            <div v-if="user.isLogin" class="menuBtn userInfoAction" @click="checkSort">
                <span>查看排名</span>
            </div>
            <div class="menuGap">
            </div>
            <template v-for="name in status.current.lessons">
                <div v-if="user.isLogin" class="menuBtn userInfoAction" @click="getLesson(name, 1, true)">
                    <span v-text="name"></span>
                </div>
            </template>
        </aside>
        <div v-if="isAlert || isConfirm" class="alertDiv">
            <div class="alert" v-if="isAlert" v-html='alertContent'></div>
            <div class="confirm" v-if="isConfirm">
                <div class="confirmContent" v-html='confirmContent'></div>
                <div class="confirmBtns">
                    <button class="c_ensure" @click.stop="ensure">确认</button>
                    <button class="c_cancel" @click.stop="cancel">取消</button>
                </div>
            </div>
        </div>
        <div class="closeFull dn" @click.stop="_closeFull"></div>
    </div>
    <script src="../js/pronSchool.js"></script>
</body>

</html>